@import "./assets/css-variables.scss";

.rrss {
	&__title {
		font-size: 28px;
		color: light-dark($color-very-dark-blue-bg, $color-white-bg);
	}
	&__header {
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__total-followers {
		color: light-dark($color-desaturated-blue, $color-toggle-light);
		font-weight: bold;
		display: block;
		margin: 5px 0;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
	}
}
.switch {
	text-align: right;
}

.colorbar {
	height: 5px;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.social-card {
	min-width: 260px;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
	background-color: light-dark(
		$color-light-grayish-blue,
		$color-dark-desaturated-blue
	);

	&:hover,
	&:active {
		background-color: light-dark(
			$color-very-pale-blue-top-bg-pattern,
			$color-dark-desaturated-blue-active
		);
		cursor: pointer;
	}

	&__colorbar-facebook {
		background-color: $color-facebook;
	}
	&__colorbar-twitter {
		background-color: $color-twitter;
	}
	&__colorbar-instagram {
		background: $color-instagram;
	}
	&__colorbar-youtube {
		background-color: $color-youtube;
	}

	&__username {
		font-weight: bold;
		padding: 30px 0 0 0;
		color: light-dark($color-dark-grayish-blue, $color-toggle-light);
		letter-spacing: 1px;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	&__icon {
		margin-right: 10px;
		&-logo {
			width: 20px;
			height: 20px;
		}
	}
	&__followers {
		display: flex;
		flex-direction: column;
		padding: 20px 0;

		&-number {
			font-size: 56px;
			font-weight: bold;
			color: light-dark($color-very-dark-blue-bg, $color-white-bg);
		}
		&-text {
			font-size: 16px;
			color: light-dark($color-dark-grayish-blue, $color-toggle-light);
			text-transform: uppercase;
			letter-spacing: 4px;
		}
	}
	&__today {
		padding-bottom: 30px;
		font-size: 12px;
		font-weight: bold;
		color: $color-lime-green;

		&-arrow {
			margin-right: 5px;
		}
	}
}

@media screen and (max-width: 700px) {
	.rrss {
		&__main {
			justify-content: center;
		}
	}
}
