@import "./assets/css-variables.scss";

:root {
	color-scheme: light dark;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: light-dark($color-white-bg, $color-very-dark-blue-bg);
	color: light-dark($color-desaturated-blue, $color-light-grayish-blue);
	font-family: $font-inter;
	font-weight: 400;
}

.container {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.up {
	color: $color-lime-green;
}
.down {
	color: $color-bright-red;
}

.total-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

@media screen and (max-width: 700px) {
	.total-cards {
		flex-direction: column;
		min-width: 520px;
	}
	.switch {
		border-top: 1px solid $color-dark-grayish-blue;
		width: 100%;
		padding: 20px 0;
		margin: 20px 0;
	}
}

@media screen and (min-width: 721px) and (max-width: 1413px) {
	.total-cards {
		min-width: 720px;
		max-width: 1413px;
	}
}
