//import font from google
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$font-inter: "Inter", sans-serif;

$color-lime-green: hsl(163, 72%, 41%);
$color-bright-red: hsl(356, 69%, 56%);
$color-facebook: hsl(208, 92%, 53%);
$color-twitter: hsl(203, 89%, 53%);
$color-instagram: linear-gradient(
	to right,
	hsl(37, 97%, 70%),
	hsl(329, 70%, 58%)
);
$color-youtube: hsl(348, 97%, 39%);

$color-toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
$color-toggle-light: hsl(230, 22%, 74%);

/* Dark Theme */
$color-very-dark-blue-bg: hsl(230, 17%, 14%); //Main BG
$color-very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%); //Top BG Pattern
$color-dark-desaturated-blue: hsl(228, 28%, 20%); //Card BG
$color-dark-desaturated-blue-active: hsl(230, 27%, 25%); //Card BG

$color-desaturated-blue: hsl(228, 34%, 66%); //Text
$color-white-text: hsl(0, 0%, 100%); //Text

/* Light Theme */
$color-white-bg: hsl(0, 0%, 100%); //Main BG
$color-very-pale-blue-top-bg-pattern: hsl(225, 100%, 98%); //Top BG Pattern
$color-light-grayish-blue: hsl(227, 47%, 96%); //Card BG
$color-dark-grayish-blue: hsl(228, 12%, 44%); //Text
$color-very-dark-blue-text: hsl(230, 17%, 14%); //Text

:root {
	color-scheme: light dark;
}
* {
	box-sizing: border-box;
	//border: 1px solid;
	//border-color: light-dark(rgb(202, 92, 214), rgb(73, 155, 101));
	padding: 0;
	margin: 0;
}

body {
	background-color: light-dark($color-white-bg, $color-very-dark-blue-bg);
	color: light-dark($color-desaturated-blue, $color-light-grayish-blue);
	font-family: $font-inter;
	font-weight: 400;
}

.container {
	display: flex;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.rrss {
	display: flex;
	width: 80%;
	justify-content: space-between;
	flex-direction: column;

	&__title {
	}
	&__header {
		padding: 50px 0;
		display: flex;
		flex-direction: column;
		align-content: space-between;
	}
	&__total-followers {
		color: light-dark($color-desaturated-blue, $color-dark-grayish-blue);
		font-weight: bold;
		display: block;
		margin: 5px 0;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.colorbar {
	height: 5px;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.social-card {
	min-width: 260px;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
	background-color: light-dark(
		$color-light-grayish-blue,
		$color-dark-desaturated-blue
	);

	&:hover,
	&:active {
		background-color: light-dark(
			$color-very-pale-blue-top-bg-pattern,
			$color-dark-desaturated-blue-active
		);
		cursor: pointer;
	}

	&__colorbar-facebook {
		background-color: $color-facebook;
	}
	&__colorbar-twitter {
		background-color: $color-twitter;
	}
	&__colorbar-instagram {
		background: $color-instagram;
	}
	&__colorbar-youtube {
		background-color: $color-youtube;
	}

	&__username {
		font-weight: bold;
		padding: 30px 0 0 0;
		color: light-dark($color-light-grayish-blue, $color-dark-grayish-blue);
		letter-spacing: 1px;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	&__icon {
		margin-right: 10px;
		&-logo {
			width: 20px;
			height: 20px;
		}
	}
	&__followers {
		display: flex;
		flex-direction: column;
		padding: 20px 0;

		&-number {
			font-size: 56px;
			font-weight: bold;
		}
		&-text {
			font-size: 16px;
			color: light-dark($color-light-grayish-blue, $color-dark-grayish-blue);
			text-transform: uppercase;
			letter-spacing: 4px;
		}
	}
	&__today {
		padding-bottom: 30px;
		font-size: 12px;
		font-weight: bold;
		color: $color-lime-green;

		&-arrow {
			margin-right: 5px;
		}
	}
}

//media queries

@media (min-width: 768px) {
	.rrss {
		width: 60%;
	}
	.social-card {
		min-width: 300px;
	}
}
