//https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark

@import "./assets/css-variables.scss";

:root {
	color-scheme: light dark;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.light {
	/* forces light color-scheme */
	color-scheme: light;
}
.dark {
	/* forces dark color-scheme */
	color-scheme: dark;
}

body {
	font-family: $font-inter;
	font-weight: 400;
}
#root {
	display: flex;
	height: 100vh;
	flex-direction: column;
}
.container {
	background-color: light-dark($color-white-bg, $color-very-dark-blue-bg);
	color: light-dark($color-desaturated-blue, $color-light-grayish-blue);
	display: flex;
	//height: 100vh;
	flex-direction: column;
	padding: 0 30px;
	align-items: center;
}

.up {
	color: $color-lime-green;
}
.down {
	color: $color-bright-red;
}

.total-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 700px) {
	#root {
		min-width: 320px;
	}
	.total-cards {
		flex-direction: column;
		min-width: 320px;
		max-width: 520px;
	}
}

@media screen and (min-width: 721px) and (max-width: 1413px) {
	#root {
		min-width: 520px;
	}
	.total-cards {
		min-width: 520px;
		max-width: 1413px;
	}
}

@media screen and (min-width: 1413px) {
	.total-cards {
		max-width: 1413px;
	}
}
